@import "./../../variables.scss";

form.form__log_entry > div {
  margin: 1.5rem 0;

  .input-group {
    flex-wrap: nowrap;

    .input-group-text {
      background-color: transparent;

      &:first-of-type {
        border-right: none;
      }
      &:last-of-type {
        border-left: none;
      }
    }

    .form-range {
      width: auto;
      height: auto;
      padding: $input-btn-padding-y $input-btn-padding-x;
      flex-basis: 100%;
      border-top: $border-width solid var(--bs-gray-400);
      border-bottom: $border-width solid var(--bs-gray-400);
    }
  }

  .entry__field_container {
    margin-bottom: $spacer;
  }
}
