@import "~bootstrap/scss/bootstrap.scss";

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-top: 1rem;
}

#root > .container {
  height: 100vh;
  background-color: white;
}

.table td {
    vertical-align: middle;
}


.form__button_row {
  button {
    width: 100%;
  }
}
