@import "~bootstrap/scss/bootstrap.scss";
@import "../variables.scss";
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-top: 1rem;
}

// source: https://a11y-101.com/development/skip-link
.visible_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible_hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.form-label {
  font-weight: 600;
}

#root > .container {
  height: 100vh;
  background-color: white;
}

.table td {
  vertical-align: middle;
}

.form__button_row {
  button {
    width: 100%;
    margin-bottom: $spacer;
  }
}
