header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__a_logo {
    height: 40px;
    width: 40px;
    margin: .5rem -4px 0;
    opacity: .4;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .sidebar__button_toggle {
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    opacity: 0.67;
    margin-top: 0.5rem;
    border: none;
    box-shadow: inset 0 0 0px 2px #6c757d;

    i {
      display: inline-block;
      width: 1.5rem;
      font-style: normal;
      font-weight: bold;
    }
  }
}
