header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sidebar__button_toggle {
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    border-width: 2px;
    opacity: 0.67;
    margin-top: .5rem;

    i {
      display: inline-block;
      width: 1.5rem;
      font-style: normal;
      font-weight: bold;
    }
  }
}
