@import '../../variables';
.log__container {
  .log__entry {
    margin-bottom: $spacer;

    .log__entry__actions {
      position: absolute;
      top: $spacer;
      right: $spacer;
    }
  }
  .form__log__button_row {
    button {
      width: 100%;
    }
  }
}
