@import "../../variables.scss";
.sidebar {
  .offcanvas-header {
    justify-content: flex-end;

    button:first-of-type {
      margin-right: auto;
    }
    .sidebar__check_remember {
      margin-right: auto;
    }

    .sidebar__about_btn {
      margin-right: 0.25rem;
      opacity: 0.5;
      i {
        vertical-align: 0;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
      }
    }
  }
}
.sidebar__p_version {
  font-size: 0.9rem;
  margin: 1rem 1rem 0.75rem;
}

.sidebar__body_container {
  p {
    a {
      padding: 0 calc($spacer / 2);
    }
  }
}
